<template>
  <NewsForm v-model="data" @send="addHandler" />
</template>

<script setup lang="ts">
import {ref} from "vue";
import {useRouter} from "vue-router";
import {api} from "@/api/api";
import NewsForm from "@/components/NewsForm.vue";
import type {NewsFormData} from "@/common/interfaces/NewsFormData.interface";

const router = useRouter();

const data = ref<NewsFormData>({
  title: '',
  description: '',
  image: undefined,
});


function addHandler() {
  const formData = new FormData();

  formData.set('title', data.value.title);
  formData.set('description', data.value.description);

  if (data.value.image) {
    formData.set('image', data.value.image);
  }

  api.addNews(formData);

  router.push({name: 'home'});

}

</script>

<style scoped lang="scss"></style>