<template>
  <div v-if="news" class="detailNews">
    <div class="detailNews__title">{{ news.title }}</div>
    <p class="detailNews__decor"></p>
    <p class="detailNews__description">
      <img class="detailNews__image" alt="news-image" :src="news.image">
      {{ news.description }}
    </p>
    <div class="detailNews__buttons">
      <RouterLink class="detailNews__editBtn" :to="{name: 'edit'}"> Редактировать новость</RouterLink>
      <button class="detailNews__deleteBtn" @click="deleteNews"> Удалить новость</button>
    </div>

  </div>
</template>

<script setup lang="ts">
import {useRoute, useRouter} from "vue-router";
import {api} from "@/api/api";
import {onMounted, ref} from "vue";
import type {News} from "@/hooks/useNews";
import {useNews} from "@/hooks/useNews";

const {newsList} = useNews();
const route = useRoute();
const router = useRouter();

const news = ref<News | undefined>()


onMounted(async () => {
  news.value = route.params.id ? await api.getNewsById(Number(route.params.id)) : undefined;

})

async function deleteNews() {
  if (route.params.id) {
    newsList.value = await api.deleteNews(Number(route.params.id));

    await router.push({name: 'home'});
  }
}


</script>

<style scoped lang="scss">

.detailNews {
  display: flex;
  flex-direction: column;
  padding: 50px;

  &__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__decor {
    content: ".";
    height: 10px;
    width: 10px;
    background: darkred;
    border-radius: 50%;
    display: flex;
    margin: 0 auto 50px;
    position: relative;

    &:before {
      content: "";
      width: 100px;
      height: 3px;
      background: darkred;
      position: absolute;
      left: -105px;
      top: 3px;
    }

    &:after {
      content: "";
      width: 100px;
      height: 3px;
      background: darkred;
      position: absolute;
      right: -105px;
      top: 3px;
    }


  }

  &__description {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: justify;
  }

  &__editBtn,
  &__deleteBtn {
    max-width: 250px;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    outline: none;
    background: darkred;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 30px;

    &:hover {
      background-color: #b2332d;
    }
  }

  &__image {
    width: 400px;
    border-radius: 10px;
    float: left;
    margin: 0 60px 20px 0;
  }
}

</style>