<template>
<NewsForm  v-model="data" @send="editHandler"/>
</template>

<script setup lang="ts">
import {onMounted, ref} from "vue";
import {useRoute, useRouter} from "vue-router";
import {api} from "@/api/api";
import NewsForm from "@/components/NewsForm.vue";
import type {NewsFormData} from "@/common/interfaces/NewsFormData.interface";
import {useNews} from "@/hooks/useNews";

const route = useRoute();
const router = useRouter();
const {newsList} = useNews();

const data = ref<NewsFormData>({
  title: '',
  description: '',
  image: undefined,
});

onMounted(async () => {
  if(route.params.id) {
    data.value = await api.getNewsById(Number(route.params.id));
  }
})

async function editHandler() {
  const formData = new FormData();

  formData.set('title', data.value.title);
  formData.set('description', data.value.description);

  if (data.value.image) {
    formData.set('image', data.value.image);
  }

  if (route.params.id) {
    newsList.value = await api.editNews(Number(route.params.id), formData);

    await router.push({name: 'home'});
  }
}



</script>

<style scoped lang="scss"></style>