<template>
  <div class="newsCardContainer">
  <NewsCard
    v-for="newsItem in newsList"
    :news="newsItem"
  />
  </div>
</template>

<script setup lang="ts">
import NewsCard from "@/components/NewsCard.vue";
import { useNews } from '@/hooks/useNews';

const { newsList, loadNews } = useNews();

loadNews();

</script>

<style scoped lang="scss">

.newsCardContainer {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
}

</style>