<template>
  <div class="header">
    <div class="header__logo">
      <img class="header__logo-img" src="/src/components/icons/news-logo.png" />
      <h1 class="header__logo-title">News Portal</h1>
    </div>

    <div class="header__buttons">
      <div class="header__button" v-if="path === '/'">
        <RouterLink :to="{ name: 'addNews' }" class="header__btn"> Добавить новость <span class="header__btnEffect"></span> </RouterLink>
      </div>

      <div class="header__button" v-if="path !== '/'">
        <RouterLink :to="{ name: 'home' }" class="header__btn"> На главную <span class="header__btnEffect"></span> </RouterLink>
      </div>
    </div>



  </div>
</template>

<script setup lang="ts">
import {useRoute} from "vue-router";
import {computed} from "vue";

const route = useRoute();

const path = computed(() => route.path);


</script>

<style scoped lang="scss">
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 0;
  background: #fff;
  box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
 margin-bottom: 40px;
  width: 100%;

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-img {
      width: 150px;
      height: 150px;
    }

    &-title {
      font-size: 50px;
      color: #333333;
    }
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    font-size: 20px;
    padding: 20px;
    border: none;
    outline: none;
    background: #951a1d;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    overflow-x: hidden;
    text-decoration: none;x

    &:hover {
      background: #b2332d;
    }

  }

  &__btnEffect {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear;
  }

}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

</style>
