<template>
  <RouterLink class="newsCard" :to="{ name: 'detail', params: {id: news.id} }">
    <img class="newsCard__image" :src="news.image">
    <div class="newsCard__bottomBlock">
      <p class="newsCard__title">{{ news.title }}</p>
      <div class="newsCard__description">
        <p>{{ news.description }}</p>
      </div>
    </div>
  </RouterLink>

</template>

<script setup lang="ts">

import {type News} from '@/hooks/useNews';
import type {PropType} from "vue";

defineProps({
  news: Object as PropType<News>,
});

</script>

<style scoped lang="scss">

.newsCard {
  width: 30%;
  min-height: 400px;
  height: 100%;
  border: 2px solid darkred;
  border-radius: 7px;
  margin-bottom: 50px;
  color: #333333;
  margin-right: 50px;

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
  }

  &__title {
    font-size: 20px;
  }

  &__description {
    font-size: 16px;

    p {
      margin: 0;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  }

  &__bottomBlock {
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    padding: 10px 15px;
    bottom: 0;
    z-index: 5;
    height: 35%;
    border-top: none;
    width: 100%;
  }
}

</style>