<template>
  <div class="NewsForm">
    <h1 class="NewsForm__pageTitle"> Создайте свою новость! </h1>
    <form class="NewsForm__form" enctype="multipart/form-data">
      <input class="NewsForm__title" v-model="title">
      <textarea class="NewsForm__description" v-model="description"></textarea>
      <p class="NewsForm__fileBox">
        <label class="NewsForm__input-file">
          <span class="NewsForm__input-file-text">{{ fileName }}</span>
          <input type="file" name="file" ref="input" @change="onFileLoadHandler">
          <span class="NewsForm__input-file-btn">Выберите файл</span>
        </label>
      </p>
      <button class="NewsForm__addBtn" type="button" @click="$emit('send')"> Добавить новость</button>
      <p class="NewsForm__note">* Все поля обязательны для заполнения!</p>
    </form>
  </div>
</template>

<script setup lang="ts">
import {computed, type PropType, ref} from "vue";
import type {NewsFormData} from "@/common/interfaces/NewsFormData.interface";

const props = defineProps({
  modelValue: {
    type: Object as PropType<NewsFormData>,
    required: true,
  }
});

const emit = defineEmits([
    'update:modelValue',
    'send',
]);

const input = ref<HTMLInputElement>();

const title = computed({
  get: () => props.modelValue.title,
  set: (title) => emit('update:modelValue', {
    ...props.modelValue,
    title,
  })
});

const description = computed({
  get: () => props.modelValue.description,
  set: (description) => emit('update:modelValue', {
    ...props.modelValue,
    description,
  })
});

const fileName = computed(() => {
  if(typeof props.modelValue.image === 'string') {
    return props.modelValue.image;
  }else if(props.modelValue.image) {
    return props.modelValue.image.name;
  }else {
    return "";
  }
})

function onFileLoadHandler() {
  if (input.value?.files) {
    emit('update:modelValue', {
      ...props.modelValue,
      image: input.value?.files[0],
    });
  }
}

</script>

<style scoped lang="scss">

.NewsForm {

&__pageTitle {
   justify-content: center;
   display: flex;
   margin-top: 50px;
 }

&__form {
   width: 800px;
   margin: 50px auto 0;
   justify-content: center;
   display: flex;
   flex-direction: column;
 }

&__title {
   height: 50px;
   margin-bottom: 30px;
   border: 1px solid darkred;
   font-size: 20px;
   padding-left: 20px;
 }

&__description {
   height: 200px;
   margin-bottom: 50px;
   border: 1px solid darkred;
   resize: none;
   font-size: 20px;
   padding: 20px;
 }

&__fileBox {
   margin-bottom: 40px;
 }

&__addBtn {
   max-width: 200px;
   padding: 10px 20px;
   font-size: 18px;
   border: none;
   outline: none;
   background: darkred;
   color: #ffffff;
   border-radius: 5px;
   margin-bottom: 20px;
 }

&__note {
   font-size: 18px;
   color: lightslategray;
   margin-bottom: 50px;
 }

&__input-file {
   position: relative;
   display: flex;
   align-items: center;

&:hover {
.NewsForm__input-file-btn {
  background-color: #b2332d;
}
}

input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
}

&__input-file-text {
   padding: 0 10px;
   line-height: 40px;
   text-align: left;
   height: 40px;
   display: block;
   float: left;
   box-sizing: border-box;
   width: 200px;
   border-radius: 6px 0px 0 6px;
   border: 1px solid darkred;
 }

&__input-file-btn {
   position: relative;
   display: inline-block;
   cursor: pointer;
   outline: none;
   text-decoration: none;
   font-size: 14px;
   vertical-align: middle;
   color: rgb(255 255 255);
   text-align: center;
   border-radius: 0 4px 4px 0;
   background-color: darkred;
   border: 1px solid darkred;
   line-height: 22px;
   height: 40px;
   padding: 10px 20px;
   box-sizing: border-box;
   margin: 0;
   transition: background-color 0.2s;
 }

}

</style>